.home-form-parent {
    width: 100%;
}

.home-form-navigator-line {
    width: 100%;
    height: 3px;
    background-color: #FF9C1B;
    z-index: 1;
}

.home-form-circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -16px;
}

.current-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0026AB;
    border: 2px solid white;
}

.home-form-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 2;
    background-color: #0026AB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white
}

.home-form-circle img {
    width: 50%;
    height: 50%;
}

/* .home-form-circle-active {} */

.home-form {
    min-height: 300px;
    width: 100%;
    background-color: #FDFCF8;
    margin-top: 20px;
    padding: 20px 12%;
    color: #414141;
    border-radius: 10px;
    border: 1px solid #DADADA;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
}

.form-heading {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    font-family: 'Helvetica Bold', 'Courier New', Courier, monospace;
}

.form-heading1 {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Helvetica Bold', 'Courier New', Courier, monospace;
}

.form-error-msg {
    color: #FF5F5F;
}

.textArea-form {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    min-height: 150px;
    margin: 20px 0px;
    font-size: 16px;
}

textarea::placeholder {
    font-size: 14px;
}

.form-add-field {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
}

.upload-photo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upload-photo {
    width: 41px;
    height: 41px;
    cursor: pointer;
}

.upload-photo-text {
    font-size: 16px;
    text-decoration: underline;
}

.upload-photo-text1 {
    font-size: 12px;
}

.upload-photo-innerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-success-heading {
    font-weight: bold;
    font-size: 28px;
    margin-top: 10px;
    font-family: 'Helvetica Bold', 'Courier New', Courier, monospace;

}

.form-success-content {
    font-size: 24px;
    margin-top: 30px;
}

.form-success-content div {
    font-size: 24px;
    font-weight: bold;
    color: #0026AB;
    margin-top: 5px;
    font-family: 'Helvetica Bold', 'Courier New', Courier, monospace;

}

.form-success-img {
    width: 90%;
    margin: 30px 0px;
}

@media (max-width: 699px) {
    .form-success-content {
        font-size: 22px;
    }

    .form-add-field {
        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
    }

    .home-form {
        min-height: 300px;
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        color: #414141;
    }

    .form-heading {
        font-size: 18px;
        margin-top: 5px;
    }

    .form-heading1 {
        font-size: 18px;
    }

    .css-mhc70k-MuiGrid-root>.MuiGrid-item {
        padding-top: 10px;
    }

    .textArea-form {
        font-size: 14px;
        margin-top: 15px;
    }
}