.wishlist-modal-style {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist-modal-content {
    background-color: white;
    width: 50%;
    min-height: 500px;
    border-radius: 10px;
    padding: 3% 2%;
}

.wishlist-modal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #414141;
}

.wishlist-modal-heading div {
    align-items: center;
    color: gray;
    cursor: pointer;
}

.wishlist-modal-heading div:hover {
    color: red;
    transition: 0.5s ease;
}

.wishlist-modal-id {
    color: #494949;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    padding-bottom: 15px;
    border-bottom: 3px solid #E6E6E6;
}

.wishlist-modal-id div {
    color: #0026AB;
    font-size: 22px;
    font-weight: bold;
}

.wishlist-modal-subHeading {
    font-weight: bold;
    font-size: 18px;
}

.wishlist-modal-body div {
    display: flex;
    align-items: center;
}

.wishlist-text-heading {
    font-size: 16px;
    font-weight: 500;
    width: 40%;
    margin: 8px 0px;
}

.wishlist-text-heading1 {
    font-size: 16px;
    font-weight: 500;
    width: 50%;
    margin: 8px 0px;
}

.wishlist-text-heading2 {
    font-size: 14px;
    width: 70%;
    margin: 8px 0px;
    font-weight: bold;
}

.wishlist-text-content {
    font-size: 16px;
}

.wishlist-text-content1 {
    font-size: 14px;
}

.wishlist-text-content2 {
    font-size: 14px;
}

.wishlist-modal-underline-item {
    border-bottom: 1px solid #D6D6D6;
}

.wishlist-modal-underline-item2 {
    border-bottom: 1px solid #787878;
    padding: 5px 0px;
}