/* styling  */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: white;
}

.content-padding {
  padding: 10px 7%;
}







/* @media (max-width: 699px) {} */